<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951422048235-fc4mamh5osv27bl6fedaekpjavtgd032.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951422048235-fc4mamh5osv27bl6fedaekpjavtgd032</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951422048235-ci1eaajgbs25ttafrc2hpat8alu3q11k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPpAWMaSYKp-zgYxJuCX38T5RlAKgAYQc</string>
	<key>GCM_SENDER_ID</key>
	<string>951422048235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohammedj.f365app</string>
	<key>PROJECT_ID</key>
	<string>m-expectations-e291e</string>
	<key>STORAGE_BUCKET</key>
	<string>m-expectations-e291e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951422048235:ios:d1d2e035d03c2b3f1eebae</string>
</dict>
</plist>